<div>
  <div class="mt-2 border border-light rounded px-4 pt-4 pb-2 w-100">
    <div class="page-item">
      <h5>Description</h5>
      <p>{{$mentee().description}}</p>
    </div>
    <div class="list-container page-item">
      <h5>Goals</h5>
      <ul class="list-unstyled">
        @for (goal of $mentee().goals; track goal) {
          <li class="text-capitalize">{{goal}}</li>
        }
      </ul>
    </div>
    @if($mentee().expectations) {
      <div class="page-item">
        <h5>Expectations</h5>
        <p>{{$mentee().expectations}}</p>
      </div>
    }
    <div class="page-item">
      <h5>Your Commitment</h5>
      <p>{{$mentee().commitment}}</p>
    </div>
    <div class="list-container page-item">
      <h5>Learning Preferences</h5>
      <ul class="list-unstyled">
        @for (preference of $mentee().learningPreferences; track preference) {
          <li class="text-capitalize">{{preference}}</li>
        }
      </ul>
    </div>
    <div class="list-container page-item">
      <h5>Meeting Preferences</h5>
      <ul class="list-unstyled">
        @for (preference of $mentee().meetingPreferences; track preference) {
          <li class="text-capitalize">{{preference}}</li>
        }
      </ul>
    </div>
    @if($mentee().neurodivergentConditions.length > 0) {
      <div class="list-container page-item">
        <h5>Neurodivergent Conditions</h5>
        <ul class="list-unstyled">
          @for (condition of $mentee().neurodivergentConditions; track condition) {
            <li class="text-capitalize">{{condition}}</li>
          }
        </ul>
      </div>
    }
    <ng-content></ng-content>

  </div>
</div>
