@defer (when $isReady()) {
  <main>
    @let mentor = $user().mentorDetails;

    <h1>Mentor details</h1>
    <div
      class="d-flex gap-1">
    <span
      [class]="mentor.isAvailable ? 'is-available-dot-icon' : 'is-unavailable-dot-icon'"
    >&#8226;</span>
      <h5
        class="availibility-text"
      >@if (mentor.isAvailable) {
        Available
      } @else {
        Unavailable
      }</h5>
    </div>
    <app-mentor-details
      [$mentorDetails]="mentor"
    >
      <div
        class="d-flex justify-content-between"
      >
        <button
          class="d-flex align-items-center gap-2  pb-2 availability-button edit-button px-0"
          (click)="navigateToEdit()"
        >
          <i class="bi bi-pencil-square"></i>
          <h6 class="mb-0">Edit Details</h6>
        </button>
        <button
          class="d-flex align-items-center justify-content-end gap-2  pb-2 availability-button edit-button px-0"
          (click)="previewMentorModal.show()"
        >
          <i class="bi bi-person-square fs-5"></i>
          <h5 class="mb-0">Preview</h5>
        </button>

      </div>
    </app-mentor-details>
    <div class="d-flex justify-content-between">
      <button
        (click)="relinquishMentorDutiesModal.show()"
        class="mt-4 unavailable-button"
      >
        <h6>Relinquish Mentor Duties</h6>
      </button>
      <button
        (click)="updateMentorStatus()"
        [class]="mentor.isAvailable ? 'unavailable-button' : 'available-button'"
        class="mt-4"
      >
        @if (mentor.isAvailable) {
          <h6>Unavailable</h6>
        } @else {
          <h6>Available</h6>
        }
      </button>
    </div>
    <app-preview-mentor-card
      [$user]="$mentorDetail()"
    />

    <app-confirm-action-modal
      (hasConfirmedAction)="relinquishMentorDuties()"
      [$messageTopic]="modalMessageTopic"
      [$type]="modalActionType"
    />
  </main>

}
