@import '../../../../../node_modules/bootstrap/scss/bootstrap';

@import '../../../../styles/themes';
@import '../../../../styles/shared/styles';

dialog {
  color: $primary-colour;
}

.hidden-modal-container {
  display: none;
}

.profile-picture {
  height: 155px;
  width: 135px;
}

.button {
  @extend %shared-button-styling;
  color: $secondary-colour;
  &:hover{
    font-weight: bolder;
    color: $tertiary-colour;

  }
}

.personal-details-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@include media-breakpoint-up(sm) {
  .personal-details-container {
    width: 75%;
  }
  dialog {
    width: 75%;
  }
  .close-icon {
    margin-right: 3rem;
    margin-top: 1rem;

  }
  .details-container {
    width: 75%;
  }
}

.close-icon {
  color: $primary-colour;
  @extend %is-clickable;
  &:hover {
    color: $tertiary-colour;
  }
}

.details-container {
}

@include media-breakpoint-down(sm) {
  .personal-details-container {
    width: 90%;
  }
  dialog {
    width: 90%;
  }
  .personal-details-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    div {
      gap: 1rem !important;
    }
  }
  .close-icon {
    margin-right: 1rem;
    margin-top: .25rem;
  }
  .details-container {
    width: 95%;
  }


}
