@import 'bootstrap/scss/bootstrap';

@import '../../../../../styles/themes';
@import '../../../../../styles/shared/styles';

:host {
  background-color: $primary-colour;
}
main {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: $primary-colour;
  padding-bottom: 4rem;
}

.image-styling {
  width: 40%;
  height:  auto;
}

.layout-container {
  margin-top: 2%;
  width: 85%;
  height: auto;
  margin-left: auto;
  background-color: $primary-colour;
  margin-right: auto;
}

.heading {
  color: white;
}

h3 {
  color: $primary-colour;
}

.guidance-line {
  color: $secondary-colour;
}


.registration-container {
  width: 100%;
  min-height: 75%;
  background-color: white;
}

@include media-breakpoint-up(md) {
  .layout-container {
    width: 75%;
  }
}

@include media-breakpoint-down(xl) {
  .image-styling {
    width: 60%;
  }
}

@include media-breakpoint-up(sm) {

  main {
    justify-content: center;
  }
}

.navigation-button {
  @extend %shared-button-styling;
  display: flex;
  color: white;
  font-weight: bold;
  &:hover {
    color: $tertiary-colour;
  }
}

@include media-breakpoint-down(sm) {
  main div {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
