<form
  [formGroup]="$menteeDetailsForm()"
>
  <div>
    @let descriptionControl = $menteeDetailsForm().get("description");
    <div
      class="d-inline-block"
    >
      <h5 class="text-capitalize mb-3 d-inline-block">Description</h5>
      <span
        class="error-text fs-5"
      >*</span>
    </div>
    <app-textarea-input
      label="introduce yourself to mentors"
      formControlName="description"
    />
    @if (descriptionControl?.touched && descriptionControl?.errors?.["required"]) {
      <span
        class="error-text"
      >Required!</span>
    }
  </div>
  <div class="mt-4">
    @let goalsControl = $menteeDetailsForm().controls.goals;
    @let goalsAbstractControl = $menteeDetailsForm().get("goals");
    <div
      class="d-inline-block"
    >
      <h5 class="text-capitalize mb-0 d-inline-block">Goals</h5>
      <span
        class="error-text fs-5"
      >*</span>
    </div>
    <div class="w-100 mt-3 mb-4" formArrayName="goals">
      @for (goal of goalsControl.controls; track goal; let index = $index) {
        <div class="d-flex gap-2 align-items-center mb-4">
          <app-text-input
            class="w-100"
            formControlName="{{index}}"

            [label]="'Goal ' + (index + 1)"
          />
          <i
            class="bi bi-trash trash-icon"
            (click)="removeGoal(index)"
          ></i>
        </div>
      } @empty {
        @if (goalsAbstractControl?.touched) {
          <span
            class="error-text"
          >At least one goal is required!</span>
        }
      }
      <div class="d-flex gap-2 align-items-center mt-5">
        <app-text-input
          class="w-100"
          [label]="'Goal ' + (1 +  goalsControl.controls.length)"
          [formControl]="newGoalControl"

        />
        <i
          class="bi bi-plus-circle add-icon"
          (click)="addGoal()"
        ></i>
      </div>
    </div>
  </div>
  <div>
    <h5 class="mb-3">Expectations</h5>
    <app-textarea-input
      label="what you expect from your mentor"
      formControlName="expectations"
    />
  </div>
  <div class="mt-4">
    @let commitmentControl = $menteeDetailsForm().get("commitment");
    <div
      class="mb-3 mt-4"
    >
      <div
      >
        <h5 class="text-capitalize mb-0 d-inline-block ">Commitment</h5>
        <span
          class="error-text fs-5 lh-sm h-75"
        >*</span>
      </div>
      <span
        class="guidance-line"
      >Your commitment to the journey</span>
    </div>
    <app-text-input
      label="e.g. 1 day for 6 weeks"
      formControlName="commitment"
    />
    @if (commitmentControl?.touched && commitmentControl?.errors?.["required"]) {
      <span
        class="error-text"
      >Required!</span>
    }
  </div>
  <div class="list-container mt-5">
    @let learningPreferencesAbstractControl = $menteeDetailsForm().get("learningPreferences");
    <div
      class="mb-4"
    >
      <div
        class="d-inline-block"
      >
        <h5 class="text-capitalize d-inline-block mb-0">Learning Preferences</h5>
        <span
          class="error-text fs-5"
        >*</span>
      </div>
      @if(learningPreferencesAbstractControl?.touched && learningPreferencesAbstractControl?.errors?.["atLeastOneRequired"]) {
        <span
          class="error-text"
        >At least one is required!</span>
      }
    </div>
    <ul
      class="list-unstyled d-flex flex-column gap-4"
      formArrayName="learningPreferences"
    >
      @let learningPreferencesControl = $menteeDetailsForm().controls.learningPreferences;
      @for (preference of learningPreferencesControl.controls; track index; let index=$index) {
        <li class="d-flex gap-2 text-capitalize align-items-center">
          {{learningPreferenceOptions[index]}}
          <input
            type="checkbox"
            [formControlName]="index"
            [id]="preference"
          />
        </li>
      }
    </ul>
  </div>
  <div class="list-container mt-5">
    @let meetingPreferencesAbstractControl = $menteeDetailsForm().get("meetingPreferences");
    <div
      class="mb-4"
    >
      <div
        class="d-inline-block"
      >
        <h5 class="text-capitalize d-inline-block mb-0">Meeting Preferences</h5>
        <span
          class="error-text fs-5"
        >*</span>
      </div>
      @if(meetingPreferencesAbstractControl?.touched && meetingPreferencesAbstractControl?.errors?.["atLeastOneRequired"]) {
        <span
          class="error-text"
        >At least one is required!</span>
      }
    </div>
    <ul
      class="list-unstyled d-flex gap-4 "
      formArrayName="meetingPreferences"
    >
      @let meetingPreferencesControl = $menteeDetailsForm().controls.meetingPreferences;

      @for (preference of meetingPreferencesControl.controls; track index; let index=$index) {
        <li class="d-flex gap-2 text-capitalize align-items-center">
          {{meetingPreferenceOptions[index]}}
          <input
            type="checkbox"
            [formControlName]="index"
            [id]="preference"
          />
        </li>
      }
    </ul>
  </div>
  <div class="list-container mt-5">
    <div
      class="mb-3"
    >
      <h5
        class="mb-0"
      >Neurodivergent Conditions</h5>
      <span
        class="guidance-line"
      >Conditions you may need support with</span>
    </div>
    <ul
      class="list-unstyled d-flex flex-column gap-4 "
      formArrayName="neurodivergentConditions"
    >
      @let neurodivergentConditionsControl = $menteeDetailsForm().controls.neurodivergentConditions;

      @for (condition of neurodivergentConditionsControl.controls; track index; let index=$index) {
        <li class="d-flex gap-2 text-capitalize align-items-center">
          {{neurodivergentConditionOptions[index]}}
          <input
            type="checkbox"
            [formControlName]="index"
            [id]="condition"
          />
        </li>
      }
    </ul>
  </div>
</form>
