@use '@angular/material' as mat;

@import "../../../../../styles/shared/styles";
@import "../../../../../styles/themes";



.snippet-container {
  @extend %is-clickable;
  &:hover {
    background-color: #e9ecef;
  }
}

.message-snippet {
  @extend .fixed-text-container;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.message-snippet h5 {
  color: $primary-colour;
  font-weight: bolder;
}

.bullet-icon-colour {
  color: $tertiary-colour;
}

.bullet-icon {
  font-size: 3rem;
}

.snippet-subject {
  color: $secondary-colour;
  font-weight: bold;
}

.message-container {
  border-left: 5px solid $primary-colour;
}

.date-and-time-styling {
  color: $secondary-colour;
}

input {
  accent-color: $tertiary-colour;
  width: 25px;
  height: 25px;
  margin-top: 4px;
  @extend %is-clickable;
}


