@import 'bootstrap/scss/bootstrap';


@import '../../../../../styles/themes';
@import '../../../../../styles/shared/styles';

.mentee-details-form-container {
  width: 85%;
}

.guidance-line {
  color: $secondary-colour;
}

.continue-button-container {
  width: 100%;
  position: relative;
  bottom: .1%;
}

.continue-button {
  position: relative;
  right: 1%;
  @extend %shared-button-styling;
  color: $primary-colour;
  &:hover {
    color: $tertiary-colour;
  }
}

@include media-breakpoint-down(sm) {
  .mentee-details-form-container {
    width: 90%;
  }

}
