<div
  [ngClass]="{'isHidden': isHidden()}"
>
  <dialog
    #relinquishMentorDutiesModal
    class="border rounded p-4 d-flex flex-column gap-5"
  >
    <h4>Are you sure you want to {{ $messageTopic() }}?</h4>
    <div class="d-flex justify-content-between">
      <button
        (click)="close()"
        class="cancel-button"
      ><h6>Cancel</h6></button>
      <button
        (click)="close()"
        [class]="$type() === ActionTypes.CONFIRM ? 'confirm-button' : 'delete-button'"
      ><h6>Confirm</h6></button>
    </div>
  </dialog>
</div>
