@import '../../../../../styles/themes';
@import "../../../../../styles/shared/styles";

h1 {
  color: $primary-colour;
}

.personal-details-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile-picture {
  height: 155px;
  width: 135px;
}

h4 {
  color: $primary-colour;
}

.email {
  color: $secondary-colour;
  font-weight: lighter;
}

.detail-container {
  main {
    min-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

}

.edit-button {
  @extend %is-clickable;
  color: $secondary-colour;
  &:hover {
    color: $tertiary-colour;
  }

}

.is-deactive {
  color: red;
  width: 150px;
  font-weight: lighter;
  &:hover {
    font-weight: normal;
  }
}

.is-active {
  &:hover {
    color: $tertiary-colour;
  }
}


.account-activity-button {
  @extend %is-clickable;
}

@media (max-width: 1200px) {
  .detail-container {
    width: 500px;
  }
}

@media (max-width: 850px) {
  .detail-container {
    width: 400px;
  }
}

@media (max-width: 650px) {
  .detail-container {
    width: 100%;
    margin-top: 0;
  }
}


@media (max-width: 455px) {
  .personal-details-container {
    flex-direction: column;
    align-items: center;
  }
  .detail-container {
    width: 300px;
  }
}
