<div class="navigation-bar-container">
  <div class="h-100 w-100 d-flex justify-content-between flex-row flex-nowrap align-items-end px-lg-5">
    <img
      src="../../../../assets/images/mind4minds%20logo.png"
      alt="mind for minds logo"
      class="is-clickable"
      height="75"
      width="300"
    />

    <i class="bi bi-person-circle fs-1 is-clickable"></i>

  </div>
  <nav class="mt-4 ms-3">
    <ul class="d-flex flex-row gap-5 ps-5 list-inline">
      @for (item of $navigationItems(); track item) {
        <li class="is-clickable text-capitalize">{{item}}</li>
      }
    </ul>
  </nav>
</div>

