@import "../../../../styles/themes.scss";
@import "../../../../styles/shared/styles";


.navigation-bar-container {
  width: 100%;
  color: white;
  font-weight: normal;
  background-color: $primary-colour;
  border-bottom: 5px solid $tertiary-colour;
  position: sticky;
  z-index: 10;
  top: 0;
}

.is-clickable {
  @extend %is-clickable;
  &:hover {
    color: $tertiary-colour;
  }
}

.bullet-icon {
  font-size: 3rem !important;
  color: $tertiary-colour !important;
  line-height: 0.35;
}
