<main>
  <h1>Mentor details</h1>
  <div
    class="d-flex gap-1">
    <span
      [class]="$mentorDetails().isAvailable ? 'is-available-dot-icon' : 'is-unavailable-dot-icon'"
    >&#8226;</span>
    <h5
      class="availibility-text"
    >@if ($mentorDetails().isAvailable) {
      Available
    } @else {
      Unavailable
    }</h5>
  </div>
  <app-mentor-details
    [$mentorDetails]="$mentorDetails()"
  >
    <button
      class="d-flex align-items-center gap-2  pb-2 availability-button edit-button px-0"
      (click)="navigateTo()"
    >
      <i class="bi bi-pencil-square"></i>
      <h6 class="mb-0">Edit Details</h6>
    </button>
  </app-mentor-details>
  <div class="d-flex justify-content-between">
    <button
      class="mt-4 unavailable-button"
    >
      <h6>Relinquish Mentor Duties</h6>
    </button>
    <button
      [class]="$mentorDetails().isAvailable ? 'unavailable-button' : 'available-button'"
      class="mt-4"
    >
      @if ($mentorDetails().isAvailable) {
        <h6>Unavailable</h6>
      } @else {
        <h6>Available</h6>
      }
    </button>
  </div>
</main>
