@import '../../../../../styles/themes';
@import 'bootstrap/scss/bootstrap';


main {
  width: 700px;
  height: auto;
}

h1 {
  color: $primary-colour;
}

.dot {
  font-size: 3rem;
  line-height: 0.35;
}

p, li {
  color: $primary-colour;
}

.is-available-dot-icon {
  @extend .dot;
  color: $tertiary-colour;
}

.is-available-dot-icon + h5 {
  color: $secondary-colour;
}

.is-unavailable-dot-icon {
  @extend .dot;
  color: red;
}

.is-unavailable-dot-icon + h5 {
  color: red;
  font-weight: lighter;
}


.page-item {
  margin-bottom: 2rem;
}

.list-container {}
.favourite-icon {
  color: $tertiary-colour;
}

.favourite-speciality {
  justify-content: start;
}

@include media-breakpoint-up(md) {
  .list-container {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right:12px;
  }
  .favourite-speciality {
    text-align: end;
    justify-content: end;
  }
  li {
    text-align: end;
    justify-content: end;
  }
}
@include media-breakpoint-up(lg) {
  main {
    width: 700px;
  }
}

@include media-breakpoint-down(lg) {
  main {
    width: 500px;
  }
}

@include media-breakpoint-down(sm) {
  main {
    width: 75%;
    margin: auto;
  }
}


.availability-button {
  background-color: white;
  font-size: 1.2rem;
  border:none;
}

.unavailable-button {
  @extend .availability-button;
  &:hover {
    h6{
      font-weight: normal;
    }
  }
  h6 {
    color: red;
    font-weight: lighter;
  }
}

.available-button {
  @extend .availability-button;
  color: $secondary-colour;

  &:hover{
    font-weight: bolder;
    color: $tertiary-colour;

  }
}

.edit-button {
  width: 115px;
  color: $secondary-colour;
  &:hover{
    font-weight: bolder;
    color: $tertiary-colour;

  }
}

//@include media-breakpoint-down(xs) {
//  main {
//    width: 350px;
//  }
//}
