<div
  class="card-container rounded border border-1 p-3"
>
  <div>
    <div class="d-flex">
      <div>
          <img
            src="https://cdn.britannica.com/54/252154-050-881EE55B/janelle-monae-glass-onion-knives-out-film-premiere.jpg"
            alt="Janelle Monae"
            class="profile-picture rounded"
          />
      </div>
      <div class="m-2 profile-name-container h-100 w-100">
        <h5 class="mb-1 profile-name-container text-capitalize">{{mentor().firstname}}</h5>
        <h5 class="mb-1 profile-name-container text-capitalize">{{mentor().surname}}</h5>
        <div class="speciality-highlight-container">
          <span class="fw-lighter text-capitalize">{{mentor().mainSpeciality}}</span>
          <i class="bi bi-dot"></i>
          <span class="fw-lighter text-capitalize">{{mentor().occupation}}</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <p class="profile-description-container mb-0">
        {{mentor().description}}
    </div>
  </div>
  <div class="mt-2">
    <h6 class="fw-light text-uppercase mt-3 speciality-tag-heading">I can help with</h6>
    <div class="d-flex flex-row justify-content-center gap-2">
      @for (specialty of mentor().specialities ; track specialty) {
        <div
          class="border rounded-pill px-3 text-capitalize"
          [ngClass]="{
            'adhd-tag-container' : specialty === 'ADHD',
            'leadership-tag-container' : specialty === 'leadership',
            'assessments-tag-container': specialty === 'assessments'
          }"
        >
          {{specialty}}
        </div>
      }
    </div>
  </div>
  <div class="w-100 d-flex justify-content-end mt-4 ">
    <button class="button-link text-capitalize fw-bold">connect</button>
  </div>
</div>


