<div
  [ngClass]=" { 'message-container': $message().status === 'new' }"
  class="message-snippet mt-2 text-capitalize border-bottom border-top ps-1 pt-2  pb-2 h-auto"
  (click)="handleMessageClick()"
>
  <div class="w-100">
    <h5 class="fixed-text-container mb-0">{{$message().senderName}}</h5>
  </div>
  <div class="w-100">
    <h6 class="fixed-text-container mb-0">{{$message().subject}}</h6>
  </div>
  <div class="w-100">
    <p class="fixed-text-container mb-0">{{$message().message}}</p>
  </div>
</div>
