<main class="m-auto mt-lg-5 mt-3 h-auto pb-5">
  <h1>Your Details</h1>
  <div class="mt-4 border border-light rounded px-4 pt-4 pb-5">
    <form
      [formGroup]="userDetails"
      class="d-flex gap-5 flex-column"
    >
        <div class="d-flex gap-3 flex-column">
          <div class="d-flex gap-4">
            <img
              [src]="userDetails.get('profilePic')?.value"
              class="profile-picture rounded"
            />

            <div class="d-flex flex-column gap-4">
              <app-text-input
                label="occupation"
                formControlName="occupation"
              />
              <app-date-input
                [$label]="'occupation start date'"
                [$initialInput]='userDetails.get("occupationStartDate")?.value ?? ""'
                formControlName="occupationStartDate"
              />
            </div>

          </div>
          <input
            type="file"
            formControlName="profilePic"
          />
        </div>
      <app-text-input
        label="First name"
        formControlName="firstName"
      />
      <app-text-input
        label="last name"
        formControlName="lastName"
      />

      <app-text-input
        label="email"
        formControlName="email"
      />

      <app-text-input
        label="current password"
        formControlName="currentPassword"
      />

      <app-text-input
        label="new password"
        formControlName="newPassword"
      />

      <div class="d-flex justify-content-between">
        <button
          class="cancel-button text-capitalize"
          (click)="navigateTo()"
        >Cancel</button>
        <button
          type="submit"
          class="save-button"
          (click)="navigateTo()"
        >Save</button>
      </div>

    </form>
  </div>
</main>
