@import "../../../../../styles/shared/styles";


.nav-container {
  margin-top: 3rem;
}

.list-item {
  color: $primary-colour;
  @extend %is-clickable;
  &:hover {
    color: $tertiary-colour;
  }
}
