@import '../../../../styles/themes';

.profile-picture {
  height: 125px;
  width: 115px;
}

.text-overflow-container{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.profile-description-container {
  @extend .text-overflow-container;
  -webkit-line-clamp: 4;
}

.neurodivergent-condition-highlight-container {
  color: $secondary-colour;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-name-container {
  font-weight: bold;
  color: $primary-colour;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container {
  transition: transform 0.5s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.075);
  }

  height: 370px;
  width: 312px;
  &:hover {
    h5, button, p {
      color: white;
      font-weight: lighter;
    }
    span, h6 {
      color: $tertiary-colour;
    }
    li {
      color: white;
    }
    cursor: pointer;
    background-color: $primary-colour !important;
  }
}

.speciality-tag-heading {
  color: $secondary-colour;
}

.tag-container {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}

.neurodivergent-condition {
  border: 1px solid $tertiary-colour;
}

.button-link {
  border: none;
  background-color: transparent;
  color: $primary-colour;
  &:hover {
    color: $tertiary-colour !important;
  }
}


