<div
  class="card-container rounded border border-1 p-3"
  (mouseover)="$isHovering.set(true); isHovering.emit(true)"
  (mouseout)="$isHovering.set(false); isHovering.emit(false)"
  (click)="cardContainerClicked.emit()"
>
  <div>
    <div class="d-flex">
      <div>
          <img
            alt="Janelle Monae"
            [src]="$user().profilePic"
            class="profile-picture rounded"
          />
      </div>
      <div class="m-2 profile-name-container h-100 w-100 d-flex flex-column gap-2 justify-content-between">
        <div>
          <h5 class="mb-1 profile-name-container text-capitalize">{{$user().firstname}}</h5>
          <h5 class="mb-1 profile-name-container text-capitalize">{{$user().surname}}</h5>
        </div>
        <div class="neurodivergent-condition-highlight-container d-flex flex-column">
          <span class="fw-lighter text-capitalize">{{$user().occupation}}</span>
          <span class="fw-lighter text-capitalize">{{experienceDuration($user().occupationStartDate)}}</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <p class="profile-description-container mb-0">
        {{$roleDetails().description}}
    </div>
  </div>
  @if ($roleDetails().neurodivergentConditions.length > 1) {
    <div class="mt-2">
      <h6 class="fw-light mt-3 speciality-tag-heading">
        @if($userType() === userType.MENTOR) {
          I can support you with:
        }
        @if ($userType() === userType.MENTEE) {
          I may need support with:
        }
      </h6>
      <ul class="d-flex flex-row justify-content-center gap-2 list-unstyled mb-0">
        @let conditions = $roleDetails().neurodivergentConditions.slice(0,3);
        @for (condition of conditions; track condition) {
          <li
            class="text-capitalize fw-bolder rounded-pill px-2 neurodivergent-condition"
          >
            {{condition}}
          </li>
        }
        @if($roleDetails().neurodivergentConditions.length > conditions.length) {
          <li>+{{$roleDetails().neurodivergentConditions.length - conditions.length}}</li>
        }
      </ul>
    </div>
  }
  <div
    [class.hovered]="$isHovering()"
  >
    <ng-content>
    </ng-content>
  </div>
</div>


