@import 'bootstrap/scss/bootstrap';

.profile-container {
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 75px;
}

.main-content-container {
  width: 65% !important;
}

.sidebar-navigation {}

@include media-breakpoint-up(md) {
  .sidebar-layout {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .profile-container {
    justify-content: flex-start;
  }

  .main-content-container {
    width: 100% !important;
  }
}

@include media-breakpoint-down(md) {
  .sidebar-navigation {
    display: none;
    gap: 0;
  }
}
