@defer (when $userDetails) {
  <main class="m-auto mt-lg-5 mt-3 h-auto pb-5">
    <h1>Your Details</h1>
    <div class="mt-4 border border-light rounded px-4 pt-4 pb-3">
      <app-edit-user-details
        [$currentProfilePic]="$profilePic()"
        [$changeType]="changeType()"
        [$userDetailsForm]="userDetailsForm"

      />


      <div class="d-flex justify-content-between mt-5">
        <button
          class="cancel-button text-capitalize"
          (click)="navigateToDetails()"
        >Cancel</button>
        <button
          type="submit"
          [style.visibility]="userDetailsForm.invalid? 'hidden' : 'visible'"
          class="save-button"
          (click)="submitUpdate(); navigateToDetails()"
        >Save</button>
      </div>
    </div>
  </main>

}
