@import 'bootstrap/scss/bootstrap';

@import '../../../../../styles/themes';
@import '../../../../../styles/shared/styles';

main {
  min-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.page-item {
  margin-bottom: 2rem;
}

.list-container {

}
@include media-breakpoint-up(sm) {
  main {
    width: 95%;
  }
}

@include media-breakpoint-up(md) {
  .list-container {
    text-align: right;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 12px;
  }
}


.unavailable-button {
  @extend %shared-button-styling;
  &:hover {
    h6{
      font-weight: normal;
    }
  }
  h6 {
    color: red;
    font-weight: lighter;
  }
}

.edit-button {
  @extend %shared-button-styling;
  width: 115px;
  color: $secondary-colour;
  &:hover{
    font-weight: bolder;
    color: $tertiary-colour;

  }
}
