@import '../../../../styles/themes';

.text-input-label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: $secondary-colour;
  font-weight: lighter;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  z-index: 0;
}

.text-input {
  height: 40px;
  color: $secondary-colour;
  outline: none;
  padding-left: 12px;
  z-index: 1;
  border: 1px solid $secondary-colour;
  width: 250px;
}

.text-input:not:focus + .text-input-label {
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;

}

.text-input:focus + .text-input-label,
.text-input:not(:placeholder-shown) + .text-input-label {
  transform: translateY(-24px);
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  font-size: .8rem;
  transition: transform 0.5s ease-in-out;
  z-index: 5;

}

:host(.ng-touched.ng-invalid) .text-input {
  border-color: red;
}

:host(.ng-touched.ng-invalid) .text-input-label {
  color: red;
}


.box-container {
  width: 100%;
  position: relative;
}
