@import '../../../../../styles/themes.scss';
@import '../../../../../styles/shared/styles';

.bar-text-container {
  border-bottom: 2px solid $secondary-colour !important;
}

.text-color {
  @extend %is-clickable;
  color: $primary-colour;
  font-weight: bolder;
  border-bottom: 2px solid white;
  &:hover {
    color: $tertiary-colour
  }
}

.icon-styling {
  color: $tertiary-colour;
}
