<main>
  <div
    class="review-details-form-container h-100 my-5 mx-auto pb-3"
  >
    <div
      class="w-100 h-100 d-flex flex-column gap-0 align-items-start pt-5 mb-5"
    >
      <h3>Review</h3>
      <h6
        class="guidance-line"
      >Your registration is completed. Click continues to {{$guidelineText()}}</h6>
    </div>

    <div
      [style.visibility]="shouldLoadMenteeDetail || shouldLoadMentorDetail ? 'visible' : 'hidden'"
      class="w-100 h-100"
    >
      <h3 class="text-center"> Click on a card to review your details</h3>
      <div class="d-flex justify-content-center gap-5 mt-3">
        @if(shouldLoadMenteeDetail) {
          <app-user-card
            [$userType]="menteeUserType"
            [$_userCardInfo]="$menteeCardInfo()"
            (cardContainerClicked)="viewMenteeModal.show()"
          />
        }
        @if (shouldLoadMentorDetail) {
          <app-user-card
            [$userType]="mentorUserType"
            [$_userCardInfo]="$mentorCardInfo()"
            (cardContainerClicked)="viewMentorModal.show()"
          />
        }
      </div>

    </div>


  </div>
    <h5
      style.visibility="{{$errorText() === '' ? 'hidden' : 'visible'}}"
      class="text-danger text-center">{{$errorText()}}</h5>

  <div class="d-flex justify-content-end w-100 mt-5 continue-button-container">

    <button
      type="submit"
      (click)="completeRegistration()"
      class="continue-button"
    ><h4
    >Continue</h4></button>
  </div>
</main>

@if (shouldLoadMentorDetail) {
  <app-view-mentor-modal
    [$_userInfo]="$userInfo()"
    [$mentorInfo]="$mentorInfo()"
  />
}

@if (shouldLoadMenteeDetail) {
  <app-view-mentee-modal
    [$_userInfo]="$userInfo()"
    [$menteeInfo]="$menteeInfo()"
  />
}
