@import '../themes';

.fixed-text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%is-clickable {
  cursor: pointer;
}

%shared-button-styling {
  background-color: transparent;
  font-size: 1.2rem;
  border:none;
}


%checkbox-input {
  accent-color: $tertiary-colour;
  width: 25px;
  height: 25px;
  margin-top: 4px;
  @extend %is-clickable;
}
