@import 'bootstrap/scss/bootstrap';

@import '../../../../../styles/themes';
@import '../../../../../styles/shared/styles';

.cancel-button {
  color: red;
  background-color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  &:hover {
    font-weight: normal;
  }
  border:none;
}

.save-button {
  color: $primary-colour;
  background-color: white;
  font-size: 1.2rem;
  &:hover {
    color: $tertiary-colour;
  }
  border:none;
}

.speciality-heading-container {
  display: flex;
  justify-content: space-between;
}


input[type="checkbox"] {

  @extend %checkbox-input;
  margin-top: 0;
}

@include media-breakpoint-down(sm) {
  .speciality-heading-container {
    justify-content: normal;
    flex-direction: column;
  }
}
